*{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}

.navbar{
  background-color: rgb(51, 51, 51);
  display: flex;
  height: 70px;
  position: sticky;
  width: 100%;
}

.navbar_links{
  align-items: center;
  display: flex;
  justify-content: left;
  margin-left: 2%;
  min-width: 400px;
  list-style-type: none;
}

.nav_item{
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0px 5px;
  width: 90px;
}

.nav_link{
  align-items: center;
  color: rgb(240, 240, 240);
  display: flex;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.nav_link:hover{
  color: aqua;
}

.nav_item.active{
  background-color: rgb(240, 240, 240);
}

.nav_item.active > .nav_link{
  color: rgb(51, 51, 51);
}

.main_content{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  min-width: 430px;
}

.home{
  background: url("./img/homeBG.jpg") no-repeat top center; 
  background-size: cover;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.home_title{
  margin: 40px auto;
  font-style: italic;
  text-align: center;
  padding: 5px;
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 10px;
  width: 300px;
  
}

.home_content{
  background-color: rgba(250, 250, 250, 0.7);
  border-radius: 10px;
  max-width: 800px;
  width: 90%;
  margin: 13px;
  padding: 5px;
}

.home_txt{
  font-style: italic;
  margin: 5px;
  font-weight: 600;
  font-size: 20px;
  padding: 4px;
}

.home_list_title{
  margin-top: 20px;
}

.home_list{
  font-weight: 400;
  list-style-type: circle;
  margin-left: 40px;
  margin-top: 4px;
}

@keyframes gradiend {
  0% {
      background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home_button{
  background: linear-gradient(45deg, #ffe203e0, rgba(117, 189, 252, 0.903), #fdd807db);
  background-size: 200% 200%;
  border: 0.5px solid black;
  border-radius: 10px;
  font-size: larger;
  font-style: italic;
  width: 100px;
  height: 40px;
  margin: 20px;
  animation: gradiend 10s ease infinite;
}

.home_button:hover{
  cursor: pointer;
  border: 2px solid black;
}

.courses{
  display: none;
}

.about_us{
  display: none;
}

.contact_us{
  display: none;
}

.footer{
  background-color: rgb(51, 51, 51);
  color: rgb(240, 240, 240);
  height: 40px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: 100%;
  padding: 14px; 
}

.icon{
  width: 20px;
  margin-left: 3px;
}